@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $THEME.bramsmulders
    Bram smulders style theming
\*----------------------------------------------------------------------------*/

/*  Functions/Mixins
    Functions and/or mixins used in this module
\*----------------------------------------------------------------------------*/

@import "../template/mixins";
@import "../template/settings";


/*  Variables
    Variables used in this module
\*----------------------------------------------------------------------------*/

$backgroundColor: #ffffff;

$mainColor: #3e4147;
$headingColor: #fc6471;

$mainFontSize: 38px;
$mainFont: 'Arvo', serif;
$headingFont: 'Oswald', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $headingColor;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );
$selectionColor: $mainColor;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.6em;
$heading4Size: 1.6em;



/*  Module
    Core module
\*----------------------------------------------------------------------------*/

@import url(../../lib/font/bramsmulders/bramsmulders.css);

section.has-dark-background {
    &, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}


.reveal.reveal {
    .slides {
        text-align: left;
    }

    p {
        line-height: 1.5;
    }

    a {
        border-bottom: 0.15em solid $linkColor;
        font-weight: 700;
        text-decoration: none;
        color: $mainColor;

        &:hover,
        &:focus,
        &:active {
            color: $linkColor;
            border-bottom: 0.15em solid $linkColor;
        }
    }

    blockquote {
        width: auto;
        margin: 0 1.5em 0 1.5em;
        padding: 0.75em 1.5em;
        text-indent: 0;
        font-style: italic;
        border-left: 6px solid #d3d3d3;
        box-shadow: none;
        background: transparent;

        p {
            margin-top: 0;
        }

        *:last-child {
            margin-bottom: 0;
        }

        cite {
            font-weight: bold;
        }
    }

    .image--small {
        max-width: 15em;
    }

    .image--fit-screen {
        max-height: 15em;
    }

    pre {
        width: 100%;
    }

    .hljs-deletion, .hljs-string, .hljs-built_in, .hljs-builtin-name {
        color: $headingColor;
    }
}


@import "../template/theme";
